.introductionAbout {
  font-size: 3rem;
  line-height: 1;
  max-width: 75rem;
  margin: 0 auto;
  padding: 3.75rem 0.625rem;
}

.sectionAbout {
  border-top: 0.125rem solid var(--BlueTheme_5);

  max-width: 75rem;
  margin: 0 auto;
  padding: 3.75rem 0;
  display: flex;
  flex-wrap: wrap;

  .aboutInfo {
    flex: 2 1 18.75rem;
    margin: 0 0.625rem;

    h1 {
      font-size: 2.25rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.4;
      margin-bottom: 1rem;
    }
  }

  .aboutImg {
    flex: 1 1 10rem;
    margin: 0 0.625rem;
  }
}

.qualities {
  max-width: 75rem;
  margin: 3.75rem auto;
  display: flex;
  flex-wrap: wrap;

  .qualitiesItem {
    flex: 1 1 18.75rem;
    margin: 1.25rem 0.625rem;

    h2 {
      font-size: 2.25rem;
      color: var(--WhiteTheme_2);
      margin-bottom: 1.25rem;

      &::before {
        content: '';
        display: inline-block;
        width: 0.5rem;
        height: 1.875rem;
        margin-right: 0.625rem;
      }
    }

    &:nth-of-type(3n + 1) h2::before {
      background: var(--PurpleTheme_1);
    }

    &:nth-of-type(3n + 2) h2::before {
      background: var(--PinkTheme_1);
    }

    &:nth-of-type(3n + 3) h2::before {
      background: var(--AquamarineTheme_1);
    }

    p {
      font-size: 1.25rem;
      line-height: 1.4;
      color: var(--BlueTheme_4);
      text-align: justify;

      span {
        color: var(--PurpleTheme_1);
        font-weight: bold;
      }

      ul {
        li {
          a {
            color: var(--WhiteTheme_0);
            margin-left: 0.5rem;
          }
          & + li {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
