.containerHorizontalBar {
  background: url(../../assets/backgroundSection.jpg) no-repeat center center;
  background-size: cover;

  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  text-align: center;

  .containerHorizontalBarText {
    h2 {
      color: var(--WhiteTheme_1);
      font-size: 40px;
      font-weight: bold;
      line-height: 60px;
    }
    p {
      color: var(--WhiteTheme_2);
      font-size: 24px;
      font-weight: 500;
    }
  }

  .containerHorizontalBarButton {
    display: flex;
    gap: 25px;

    a {
      display: flex;
      align-items: center;
      padding: 20px 30px;
      gap: 8px;

      border-radius: 16px;

      color: var(--WhiteTheme_1);

      &:hover {
        opacity: 0.8;
      }
    }

    .btnPlataform {
      background-color: #39282e;
    }
    .btnPlayStore {
      background-color: #261214;
    }
    .btnAppleStore {
      background-color: #170d0e;
    }
  }

  @media (max-width: 728px) {
    .containerHorizontalBarText {
      h2 {
        font-size: 32px;
        line-height: 60px;
      }
      p {
        font-size: 18px;
      }
    }

    .containerHorizontalBarButton {
      display: flex;
      gap: 25px;

      a {
        padding: 18px 30px;
      }
    }
  }

  @media (max-width: 574px) {
    .containerHorizontalBarText {
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 16px;
      }
    }

    .containerHorizontalBarButton {
      flex-direction: column;
    }
  }
}
