.containerApplication {
  max-width: 75rem;
  margin: 0 auto;

  height: 90vh;

  text-align: center;

  .containerContentApplication {
    max-width: 75rem;
    margin: 0 auto;

    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5625rem;

    .imagemApplication {
      img {
        width: 40vw;
      }
    }

    .textApplication {
      h4 {
        margin-bottom: 5rem;

        font-size: 1.5rem;
        font-weight: 500;

        color: var(--BlueTheme_4);
      }
      h2 {
        margin-bottom: 5rem;

        font-size: 2.5rem;
        font-weight: bold;
      }
      span {
        font-size: 1.5rem;
        font-weight: 300;

        color: var(--BlueTheme_4);
      }
    }
  }

  @media (max-width: 52.8125rem) {
    .containerContentApplication {
      height: 60vh;

      display: flex;
      flex-direction: column;
      gap: 1.5625rem;

      .imagemApplication {
        img {
          width: 40vw;
        }
      }

      .textApplication {
        h4 {
          font-size: 1rem;
          margin: 2.5rem 0 0.9375rem;
        }
        h2 {
          font-size: 2rem;
          margin-bottom: 0.9375rem;
        }
        span {
          font-size: 1.125rem;
        }
      }
    }
  }

  @media (max-width: 35.875rem) {
    height: 80vh;
    .containerContentApplication {
      .textApplication {
        h2 {
          font-size: 1.625rem;
        }
        span {
          font-size: 1rem;
        }
      }
    }
  }
}
