:root {
  /* Colors Dark Theme Swatches */
  --DarkTheme_1: #101114;
  --DarkTheme_2: #1b1d24;
  --DarkTheme_3: #1e2129;
  --DarkTheme_4: #22252e;
  --DarkTheme_5: #252933;

  /* Colors Blue Theme Swatches */
  --BlueTheme_1: #2c3e50;
  --BlueTheme_2: #d9ecff;
  --BlueTheme_3: #8cc6ff;
  --BlueTheme_4: #6c757f;
  --BlueTheme_5: #709ecc;

  /* Color White Theme Swatches */
  --WhiteTheme_0: #ffffff;
  --WhiteTheme_1: #f2f2f2;
  --WhiteTheme_2: #d9d9d9;
  --WhiteTheme_3: #8c8c8c;
  --WhiteTheme_4: #595959;
  --WhiteTheme_5: #404040;

  /* Color Pink Theme Swatches */
  --PinkTheme_1: #e91e63;

  /* Outher Color's Theme */
  --PurpleTheme_1: #a381ff;
  --AquamarineTheme_1: #66d9eb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--DarkTheme_1);
  color: var(--BlueTheme_2);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--DarkTheme_2);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--BlueTheme_1);
}
