.main {
  background: url(../../assets/background.jpg) no-repeat center;
  background-size: cover;

  height: 100vh;
}

.containerGeneral {
  .container {
    max-width: 1200px;
    margin: 0 15px 0 0;
    float: right;

    .navigation {
      margin-top: 15px;

      ul {
        display: flex;
        gap: 55px;

        a {
          color: var(--BlueTheme_2);

          font-size: 20px;
          padding: 10px;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
  @media (max-width: 502px) {
    .container {
      display: none;
    }
  }
}

.containerSection {
  .section {
    max-width: 960px;
    margin: 0 auto;
    padding: 110px 0;

    color: var(--WhiteTheme_1);

    text-align: center;

    h4 {
      font-size: 22px;
      margin-bottom: 70px;

      text-transform: capitalize;
    }
    h1 {
      font-size: 52px;
      font-weight: 700;

      margin-bottom: 50px;

      color: var(--WhiteTheme_2);
    }
    p {
      font-size: 18px;
      font-weight: 300;
    }
  }
  .buttonSection {
    max-width: 960px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    a {
      display: flex;
      align-items: center;
      padding: 20px 25px;

      font-size: 18px;

      border: 1px solid transparent;
      border-radius: 32px;

      color: var(--WhiteTheme_5);
      background-color: var(--WhiteTheme_2);

      transition: 0.3s;

      svg {
        margin-left: 5px;
      }

      &:hover {
        filter: brightness(0.7);
      }
      &:nth-child(2) {
        background-color: transparent;
        color: var(--WhiteTheme_2);
        border: 1px solid var(--WhiteTheme_2);
      }
    }
  }

  @media (max-width: 845px) {
    .section {
      h4 {
        font-size: 16px;
      }
      h1 {
        font-size: 40px;
      }
      p {
        font-size: 14px;
      }
    }

    .buttonSection {
      a {
        padding: 15px 20px;
        font-size: 14px;
      }
    }
  }

  @media (max-width: 574px) {
    .section {
      h1 {
        font-size: 32px;
      }
    }
  }

  @media (max-width: 502px) {
    .section {
      max-width: 960px;
      margin: 0 auto;
      padding: 35px 0;

      color: var(--WhiteTheme_1);

      text-align: center;

      h4 {
        font-size: 16px;
        margin-bottom: 25px;
      }
      h1 {
        font-size: 40px;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
      }
    }

    .buttonSection {
      display: flex;
      flex-direction: column;

      a {
        display: flex;
        align-items: center;
        padding: 15px;

        font-size: 16px;

        svg {
          margin-left: 5px;
        }

        &:hover {
          filter: brightness(0.7);
        }
        &:nth-child(2) {
          background-color: transparent;
          color: var(--WhiteTheme_2);
          border: 1px solid var(--WhiteTheme_2);
        }
      }
    }
  }
}
