.containerGeneral {
  background: url(../../assets/background.jpg) no-repeat center center;
  background-size: cover;

  height: 100vh;

  .container {
    max-width: 1200px;
    margin: 0 15px 0 0;
    float: right;

    .image img {
      width: 50px;
    }

    .navigation {
      margin-top: 15px;

      ul {
        display: flex;
        gap: 55px;

        a {
          color: var(--BlueTheme_2);

          font-size: 20px;
          padding: 10px;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    @media (max-width: 586px) {
      max-width: 100%;
      flex-direction: column;
      padding: 20px 0;
      .navigation {
        ul {
          padding-top: 10px;
          gap: 5px;

          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

.containerSection {
  .section {
    max-width: 960px;
    margin: 0 auto;
    padding: 110px 0;

    color: var(--WhiteTheme_1);

    text-align: center;

    h4 {
      font-size: 22px;
      margin-bottom: 70px;

      text-transform: capitalize;
    }
    h1 {
      font-size: 52px;
      font-weight: 700;

      margin-bottom: 50px;

      color: var(--WhiteTheme_2);
    }
    p {
      font-size: 18px;
      font-weight: 300;
    }

    @media (max-width: 586px) {
      h4 {
        font-size: 16px;
      }
      h1 {
        font-size: 28px;
      }
    }
  }
  .buttonSection {
    max-width: 960px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    @media (min-width: 768px) and (max-width: 1024px) {
      margin-top: -85px;
    }

    @media (max-width: 450px) {
      flex-direction: column;
    }

    a {
      display: flex;
      align-items: center;
      padding: 20px 25px;

      font-size: 18px;

      border: 1px solid transparent;
      border-radius: 32px;

      color: var(--WhiteTheme_5);
      background-color: var(--WhiteTheme_2);

      transition: 0.3s;

      @media (max-width: 450px) {
        margin-top: -50px;
        padding: 20px 15px;
      }

      svg {
        margin-left: 5px;
      }

      &:hover {
        filter: brightness(0.7);
      }
      &:nth-child(2) {
        background-color: transparent;
        color: var(--WhiteTheme_2);
        border: 1px solid var(--WhiteTheme_2);

        @media (max-width: 450px) {
          margin-top: -10px;
          padding: 20px 15px;
        }
      }
    }
  }
}
