.containerMain {
  background: url(../../assets/background.jpg) no-repeat center center;
  background-size: cover;
  height: 75vh;

  .main {
    max-width: 960px;
    margin: 0 auto;
    padding: 90px 0;

    text-align: center;

    color: #e2e1e1;

    text-transform: capitalize;

    h4 {
      font-size: 20px;
      margin-bottom: 60px;
    }
    h1 {
      font-size: 36px;

      color: #d9d9d9;
    }
  }
  .buttonMain {
    max-width: 960px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    a {
      padding: 20px 25px;

      font-size: 16px;

      border: 1px solid transparent;
      border-radius: 32px;

      background-color: #262626;
      color: #d9ecff;

      &:hover {
        filter: brightness(70%);
      }
      &:nth-child(2) {
        background-color: #07418c;
      }
    }
  }
}
