.introductionLicense {
  max-width: 75rem;
  margin: 0 auto;
  padding: 3.75rem 0;
  text-align: center;

  font-size: 3rem;
  line-height: 1;
}

.containerLicense {
  border-top: 0.125rem solid var(--BlueTheme_5);

  max-width: 75rem;
  margin: 0 auto;
  padding: 3rem 0;

  .rowLicense {
    padding: 0 0.9375rem;
    text-align: justify;

    p {
      margin-bottom: 0.9375rem;
      color: var(--WhiteTheme_0);
    }
  }
}
