.values {
  background: var(--DarkTheme_4);
  padding: 3.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  .valuesItem {
    flex: 1;
    border: 0.25rem solid var(--WhiteTheme_2);
    padding: 1.25rem;
    margin: 0.625rem;
    min-width: 16.25rem;

    h2 {
      font-size: 2.25rem;
      color: var(--WhiteTheme_2);
      text-align: center;
      margin-top: 1.25rem;
    }

    ul {
      max-width: 18.75rem;
      margin: 1.25rem auto;
      font-size: 1.25rem;
      font-style: italic;
      color: var(--WhiteTheme_2);

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.9375rem;
      }
    }
  }
}
