.footer {
  background-color: var(--DarkTheme_1);
  padding: 4.375rem 0;

  .container {
    max-width: 75rem;
    margin: auto;

    .row {
      display: flex;
      flex-wrap: wrap;

      .footerCol {
        width: 25%;
        padding: 0 0.9375rem;

        h4 {
          font-size: 1.125rem;
          text-transform: capitalize;
          margin-bottom: 2.1875rem;
          font-weight: 500;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -0.625rem;
            background: var(--PinkTheme_1);
            height: 0.125rem;
            width: 3.125rem;
          }
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 0.625rem;
            }

            a {
              font-size: 1rem;
              text-transform: capitalize;
              font-weight: 300;
              color: var(--WhiteTheme_3);
              display: block;
              transition: all 0.3s ease;

              &:hover {
                color: var(--WhiteTheme_0);
                padding-left: 0.5rem;
              }
            }
          }
        }

        .socialLink {
          display: flex;
          align-items: center;
          justify-content: left;
          svg {
            height: 1.875rem;
            width: 1.875rem;
            margin: 0 0.625rem 0.625rem 0;
            text-align: center;
            line-height: 2.5rem;
            color: var(--WhiteTheme_0);
            transition: all 0.5s ease;

            &:hover {
              padding-top: 0.5rem;
            }
          }
        }

        @media (max-width: 47.9375rem) {
          width: 50%;
          margin-bottom: 1.875rem;
        }

        @media (max-width: 35.875rem) {
          width: 100%;
        }
      }
    }
  }
}
